.clr-1 {
    background-color: #14CFAE;
}
.clr-2 {
    background-color: #11b599;
}
.clr-3 {
    background-color: #1C6A5D;
}
.clr-4 {
    background-color: #002525;
}
.clr-5 {
    background-color: #000000;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#header canvas{
    height: 200px;
}
nav{
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 22px;
}
.dev-intro img {
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 30%);
    z-index: 5;
    margin-top: 50px;
    margin-right: 50px;
}

.dev-intro {
    display: flex;
    margin: 4%;
    padding: 1%;
    width: 90%;
    max-height: 400px;
    align-items: center; 
     justify-content: center;
}

.dev-intro p{
    line-height: 30px;
    opacity: 0.7;
}
/* .dev-intro-main {
    display: flex;
    flex-direction: column;
} */

.dev-intro-text {
    font-size: 72px;
}
.dev-name {
    margin-top: -40px;
}
.front-end {
    background-color: #16E0BD;
    color: #1C4B43;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 38px;
    line-height: 40px;
    width: 400px;
    /* display: flex;
    justify-content: flex-end; */
}

.technical {
    background: url(./component.png), #141414;
    height: 60vh;
    padding: 10px;
}

.tech-heading {
    color: #14CFAE;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    /* margin-top: 40px; */
}
.tech-cards {
    display: flex;
    color: beige;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.tech-cards p{
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    width: 250px;
}
.tech-card-item {
    height: 40px;
    margin: 1px;
}
.tech-button {

}
.tech-button button{
    background-color: rgb(20, 207, 174, 0.4);
    border: 1px solid white;
    color: whitesmoke;
    font-size: 14px;
    margin: 20px;
    padding: 10px;
    font-weight: 400;
    border-radius: 10px;
}

.tech-button button:hover{
    box-shadow: 0px 0px 3px 1px whitesmoke;
}
.personal {
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.personal-image {
    width: 30%;
    margin-left: -10px;
}

.personal-image img {
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 50%);
    z-index: 5;
}

.personal-para {
    margin: 50px;
    width: 60%;
}

.personal-para .personal-heading{
    font-size: 30px;
    margin: 20px;
    padding: 10px;
}
.personal-para .personal-text {
    opacity: 0.7;
    margin: 20px;
    padding: 10px;
}
.personal-para .personal-tagline{
    background-color: #16E0BD;
    color: #1C4B43;
    margin: 20px;
    margin-top: -10px;
    padding: 10px;
} 

#canvas1 {
    /* width: 100%; */
    /* height: 70vh; */
    background: #002525;
    
}

.ctx1-btn-hrz {
    z-index: 1;
    position: absolute;
    right:0px;
    top: 1400px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}
.ctx1-btn-vrt {
    z-index: 1;
    position: absolute;
    right:0px;
    top: 1450px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}
#footer canvas{
    height: 200px;
}
.footer-icons {
    margin-top: -150px;
    /* opacity: 0.1; */
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
}

.footer-icons img {
    background: white;
    color: #14CFAE;
    width: 30px;
    height: 30px;
    margin: 20px;
    padding: 5px;
    border-radius: 50%;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 10px;
}

.timeline-label {
  font-family: sans-serif;
  font-size: 12px;
}
.TCS {
    height: 500;
}
#timeline1 {
    width: 100%;
}
#timeline2 .axis {
  transform: translate(0px,40px);
  -ms-transform: translate(0px,40px); /* IE 9 */
  -webkit-transform: translate(0px,40px); /* Safari and Chrome */
  -o-transform: translate(0px,40px); /* Opera */
  -moz-transform: translate(0px,40px); /* Firefox */
}

.coloredDiv {
  height:20px; width:20px; float:left;
}

#timelineRelativeTime {
    width: 100%;
}

.tech-part {
    width: 100%;
    background: #1C4B43;
    height: 50vh;
}
.img-line {
    display: flex;
    margin-left: 50px;
}
.img-line img{
    margin: 10px;
    padding: 10px;
}
.legends {
    display: flex;
    margin-left: 50px;
    align-items: center;
    justify-content: space-around;
}
.legend-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* width: 200px; */
}
.legend-clr{
    width: 10px;
    height: 10px;
    border: 0.5px solid;
    margin: 5px;
}
.legend-desc {
    margin: 2px;
}